apiVersion: apps/v1
kind: Deployment
metadata:
  name: sentiment-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sentiment-api
  template:
    metadata:
      labels:
        app: sentiment-api
    spec:
      containers:
      - name: sentiment-api
        image: python:3.12-slim
        command: ["bash", "-c"]
        args:
          - |
            pip install fastapi uvicorn mlflow scikit-learn pandas &&
            uvicorn api.main:app --host 0.0.0.0 --port 8000
        ports:
        - containerPort: 8000
